p{
    font-size: 44px;
}
.heiti{
    font-family: "黑体";
}
.kaiti{
    font-family: "楷体";
}
@font-face {
    font-family: zaozi;
    src: url("../font/zaozi.otf");
}
.zaozi{
    font-family: zaozi;
}
@font-face {
    font-family: Framework;
    src: url("../font/Framework.ttf");
}
.framework{
    font-family: Framework;
}
.sfs{
    font-family: Framework;
}