*{
    margin: 0;
    padding: 0;
}
i{
    background-image: url(../images/icon.png);
}
nav ul li{
    float: left;
    list-style: none;
}
.jiantou{
    width: 4px;
    height: 2px;
    /*background-position: -5px -50px;*/
}