p{
  font-size: 24px;
}
.heiTi{
  font-family:"黑体";
}
.kaiTi{
  font-family:"楷体";
}

@font-face {
  font-family: zaoZi;
  src:url("../font/zaoZi.otf");
}
.zaoZi{
  font-family: zaoZi;
}






@font-face {
  font-family: Framework;
  src:url("../font/Framework.ttf");
}
.Framework{
  font-family:Framework;
}

